header {
    border-bottom: 1px solid grey;
    padding: 20px;
}
nav {
    border-right: 1px solid grey;
    width: 250px;
    height: 600px;
    float: left;
}
nav ol {
    list-style: none;
}
article {
    float: left;
    padding: 20px;
}
h2 {
    font-size: 40px;
}